.photo-grid {
    display: grid;
    margin: 92px 48px 0 48px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 14px;
    column-gap: 14px;
    max-width: 1332px;
}

@media screen and (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        margin: 64px 16px 0 16px;
        row-gap: 12px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        margin: 88px 24px 0 24px;
        row-gap: 16px;
        column-gap: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 16px;
        column-gap: 16px;
        width: 92.5vw;
        margin-left: auto;
        margin-right: auto;
    }
}
