.cover__subtitle {
    position: absolute;
    top: 379px;
    left: calc(50% - 180px);
    z-index: 10;
    margin: 0;
    width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;

}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        top: 59.5%;
        left: calc(50% - ((100vw/1.1111)/2));
        width: calc(100vw/1.1111);
        font-size: calc(100vw/22.86);
        line-height: calc(100vw/20);
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__subtitle {
        top: 62%;
    }
}

@media screen and (min-width: 1280px) {
    .cover__subtitle {
        top: 58%;
        left: calc(46.25vw - ((100vw/3.55)/2));
        width: calc(100vw/3.55);
        font-size: calc(100vw/71.111);
        line-height: calc(100vw/58.18);
    }
}