.lead__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    width: 640px;
}   

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        margin-top: 16px;
        margin-bottom: 40px;
        width: calc(100vw/1.1111);
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .lead__subtitle {
        margin-top: 32px;
        margin-bottom: 56px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__subtitle {
        margin-top: 53.23px;
        margin-bottom: 65.67px;
        width: 487.09px;
    }
}

