.cover {
    margin-top: 92px;
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: calc(100vw/1.6);
    max-height: 832.5px;
    max-width: 1332px;
}

@media screen and (max-width: 767px) {
    .cover {
        margin-top: 66px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin-top: 90px;
    }
}

@media screen and (min-width: 1280px) {
    .cover {
        width: 92.5vw;
        margin-left: auto;
        margin-right: auto;
        height: calc(92.5vw/1.6);
    }
}
