.cover__overlay {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: rgb(42, 44, 47, .3);
    z-index: 3;
    transition: background-color .5s linear;
    max-height: 832.5px;
    max-width: 1332px;
}

.cover__overlay:hover {
    background-color: rgb(42, 44, 47, .8);

}
