.cover__title{
    position: relative;
    z-index: 10;
    margin: 0;
    width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__title {
        width: calc(100vw/1.1111);
        font-size: calc(100vw/10);
        line-height: calc(100vw/9.142);
    }
}

@media screen and (min-width: 1280px) {
    .cover__title {
        width: 560px;

    }
}