.place__url-heading {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    margin: 0;
    max-width: 100%;
    color: rgba(170, 170, 170);
}
