.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    .place__website {
        margin-left: 16px;
        margin-right: 16px;
    }
}
